.app-main-layout-wrapper{
  height: calc(100vh - 100px);
  overflow: auto;

  padding-top: 16px;
  box-sizing: border-box;

  .content{
    transition: width .5s;
    width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .app-main-layout-wrapper .content{
    width: 1280px;
  }
}