<div class="movies-list-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<div class="movies-list">
		<div class="add-new-button" ui-sref="movies.create">
			<svg-icon encoded-str="$ctrl.icons.addIcon"></svg-icon>
			<span>Добавить фильм</span>
		</div>
		<movies-list-item movie-data="movie"
		                  ng-click="$ctrl.openDetail(movie)"
		                  on-remove="$ctrl.removeMovie(movie, $index)"
		                  ng-repeat="movie in $ctrl.movies">
		</movies-list-item>
	</div>
</div>