@import "../../../styles/common";

alert-flash{
  position: absolute;
  left: 50%;
  top: 35px;
  width: 500px;
  margin-left: -250px;
  color: #fff;
  z-index: 99999;
  
    .alert{
      padding: .3em;
      font-size: 1.3em;
      opacity: .8;
      box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    }
    .alert-success{
      background-color: $activeColor;
    }
    .alert-danger{
      background-color: $warnColor;
    }
    .alert-info{
      background-color: rgba(10, 160, 255, 0.75);
    }

}