@import "../../../styles/common";

.info-wrapper {
  display: flex;
  .movie-preview {
    width: 300px;
    min-width: 300px;
    height: 500px;
    box-shadow: $simpleBoxShadow;
    border-radius: 4px;
    background: url(../../../images/no-preview.png) center center;
  }

  .movie-field {
    margin-top: 5px;
    > span:first-child {
      font-weight: bold;
    }
  }

  .description {
    text-align: justify;
  }

  > div {
    padding-right: 16px;
  }
}
